{% extends 'layout.html' %}

{% block body %}
<div class="card text-center border-black mt-3">
  <div class="card-header text-center bg-primary">
    <p>Add Songs</p>
  </div>
  <form method="POST" action="" class="card-footer text-center">
      <div class="row justify-content-center">
        {{ form.csrf_token}}
        <div class="col-sm-3">
          {{ form.trackno.label }}<br>
          {{ form.trackno(class_="input-center") }}<br>
        </div>
        <div class="col-sm-3">
          {{ form.song_title.label }}<br>
          {{ form.song_title }}<br>
        </div>
        <div class="col-sm-3">
          {{ form.minutes.label }}<br>
          {{ form.minutes(class_="input-center") }}<br>
        </div>
        <div class="col-sm-3">
          {{ form.seconds.label }}<br>
          {{ form.seconds(class_="input-center") }}
        </div>
      </div>
      <input class="btn btn-primary mt-3" type="submit" value="Submit">
  </form>

</div>

<div class="card text-center border-black mt-3 table-responsive">
  <table>
    <tbody class="table table-striped">
    <tr class="bg-primary">
      <th>Track No.</th>
      <th>Track Name</th>
      <th>Duration</th>
      <th></th>
    <tr>
      {% for song in songs %}
        <tr>
          <td>{{ song.trackno }}</td>
          <td>{{ song.title }}</td>
          <td>{{ song.duration }}</td>
          <td>
            <form action="{{url_for('edit_track', id=song.id)}}" method="">
              <input type="hidden" name="_method" value="EDIT">
              <input type="submit" value="Edit Track" class="btn btn-primary">
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
