{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron mt-3 text-center">
     <div class="container">
       <h1 class="display-3">Music Database Home</h1>
       <p>Welcome. Please login.</p>
     </div>
   </div>


  {% if session.logged_in == NULL %}
  <div class="border-white text-center mt-3">
    <h1 class="text-white mb-3 mt-2">Login</h1>
  </div>
  <form class="mt-3" action="" method="POST">
    {% from "includes/_formhelpers.html" import render_field %}
    <form action="" method="POST">
      <div class="form-group">
        <h3><label class="text-white">Username</label></h3>
        <input type="text" name="username" class="form-control" value={{request.form.username}}>
      </div>
      <div class="form-group">
        <h3><label class="text-white">Password</label></h3>
        <input type="password" name="password" class="form-control" value={{request.form.password}}>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% endif %}
{% endblock %}
