{% extends 'layout.html' %}

{% block body %}
<form class="form-signin mt-3">
    <div class="mb-4">
      <h1 class="h3 mb-3 font-weight-normal col-sm-4 mx-auto text-center card bg-light">Login</h1>
    </div>

<div class="col-sm-4 mx-auto card text-center">
    <div class="form-label-group mt-3">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button>
  </form>
</div>
{% endblock %}
