{% extends 'layout.html' %}

{% block body %}
  <div class="border-white text-center mt-3">
    <h1 class="text-white mb-3 mt-2">Register</h1>
  </div>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    {{ form.csrf_token}}
    <div class="form-group">
      <h3>{{form.username.label(class_="text-white")}}</h3>
      {{form.username(class_="form-control")}}
    </div>
    <div class="form-group">
      <h3>{{form.password.label(class_="text-white")}}</h3>
      {{form.password(class_="form-control")}}
    </div>
    <div class="form-group">
      <h3>{{form.confirm.label(class_="text-white")}}</h3>
      {{form.confirm(class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}
